<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container">
      <article id="article1">
        <div class="d1">
          <p>Profolio</p>
        </div>
        <div class="d2">
          <div class="fill" ><%=image_tag "profolio_intro.png"%></div>
        </div>
      </article>

      <article id="article2">
        <div class="d1">
          <p>Profolio에 대해서 알고싶으세요?</p>
        </div>
        <div class="d2">
          <p>
            <span class="profolio_span">Profolio</span>는 현직 IT취준생들이 '하아 취직하려면 포트폴리오가 필요한데... 어디서 부터 시작해야할지 모르겠다...' 라는 고민에서부터 출발했습니다.<br>
            디자인계열 포트폴리오는 많지만, IT분야의 포트폴리오들은 찾기힘들고, 수많은 합격 자소서가 있지만 합격 포트폴리오는 어디서 찾아야할지 모르겠고...
          </p>
          <br>
          <p>
            Profolio는 이러한 고민을 해결하기 위해 여러분에게 IT 포트폴리오의 가이드라인을 제공합니다. 그리고 합격 포트폴리오를 공유하여 포트폴리오의 방향성을 제시합니다. 그리고 또한 전문가와의 멘토 매칭 서비스를 통하여 취업준비에 든든한 지원군을 찾을 수 있도록 합니다.
            또한 Profolio는 유저들간의 피드백을 통해 서로 부족한 부분을 채워 줄 수 있도록 합니다.
          </p>
          <br>
          <p>
            Profolio를 통해 개인 포트폴리오 관리를 시작해보세요!<br>
            더 나은 서비스를 통하여 IT취업준비생들에게 무한한 서포팅을 약속합니다.
          </p>
        </div>
      </article>

      <article id="article3">
        <div class="d1">
          <p>이런 학생들에게 Profolio를 추천합니다!</p>
        </div>
        <div class="d2">
          <p>- 포트폴리오를 만들고 싶은데 뭐부터 시작해야할지 모르는 사람들</p>
          <p>- 자신의 경험과 프로젝트를 기록하고 싶은 사람들</p>
          <p>- 디자인 학생들은 포트폴리오도 이쁘게만들던데... 라며 부러워하던 사람들</p>
          <p>- IT분야로 취업을 희망하는 모든 사람들</p>
        </div>
      </article>

      <article id="article4">
        <div class="d1">
          <p>Profolio가 제공하는 기능들</p>
        </div>
        <div class="d2">
          <div class="fill"><%=image_tag "profolio_function.png"%></div>
        </div>
      </article>
    </div>

  </body>
</html>
