<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <!-- Guide Nav -->
    <div class="container" id="guide_nav">
      <div class="row">
        <div class="col-sm-3">
          <a href="/guide1">
            <div class="jumbotron">
              <h3>1단계</h3>
              <p>다양한 템플릿을 고릅니다.</p>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/guide2">
            <div class="jumbotron">
              <h3>2단계</h3>
              <p>사용하는 기술을 선택합니다.</p>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/guide3">
            <div class="jumbotron">
              <h3>3단계</h3>
              <p>프로젝트를 구분하여 정리합니다.</p>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/guide4">
            <div class="jumbotron">
              <h3>4단계</h3>
              <p>포트폴리오를<br>업로드합니다.</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <h4>Tip.1</h4>

      <div class="guide1_section">
        <div class="guide1_article1">
          <h3>포트폴리오1</h3>
        </div>

        <div class="guide1_article2">
          <a href="#" data-confirm="다운로드 하시겠습니까?" download>
            <img src="https://graygrids.com/wp-content/uploads/edd/2017/04/Basic-Bootstrap-4-Business-Template-700x444.jpg" alt="tp1" style="width:100vh; height:400px">
          </a>
        </div>
      </div>

      <div class="guide1_section">
        <div class="guide1_article1">
          <h3>포트폴리오2</h3>
        </div>
        <div class="guide1_article2">
          <a href="#" data-confirm="다운로드 하시겠습니까?" download>
            <img src="https://d85wutc1n854v.cloudfront.net/live/products/600x375/WB0N3118X.png?v=1.0" alt="tp1" style="width:100vh; height:400px">
          </a>
        </div>
      </div>

      <div class="guide1_section">
        <div class="guide1_article1">
          <h3>포트폴리오3</h3>
        </div>
        <div class="guide1_article2">
          <a href="#" data-confirm="다운로드 하시겠습니까?" download>
            <img src="https://graygrids.com/wp-content/uploads/edd/2016/08/Modest-Responsive-one-page-template-700x444.png" alt="tmp" style="width:100vh; height:400px">
          </a>
        </div>
      </div>

    </div>

  </body>
</html>
